---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/atm.json?key=<API_Key>&lat=27.061287816949573&lon=-145.44731323416102
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 269d752c-0a01-4154-af69-56479c0c3813
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - b88810eb-4ca3-4d9c-83a5-2ab14b78c0b6
      X-Tomtom-Upstream-Service-Time:
      - '221'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"atm","queryType":"NON_NEAR","queryTime":206,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":27.061287816949573,"lon":-145.44731323416102}},"results":[{"type":"POI","id":"2OhS6vxWM77e14IFdDpdGg","score":2.1454498768,"dist":1269713.927092,"info":"search:ta:840159000494672-US","poi":{"name":"First
        Hawaiian Bank","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"36-2266","streetName":"Hawai''i
        Belt Road","municipality":"Laupahoehoe","countrySecondarySubdivision":"Hawai''i","countrySubdivision":"HI","countrySubdivisionName":"Hawai''i","countrySubdivisionCode":"HI","postalCode":"96764","extendedPostalCode":"96764-9997","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"36-2266 Hawai''i Belt Road,
        Laupahoehoe, HI 96764","localName":"Laupahoehoe"},"position":{"lat":19.984546,"lon":-155.232684},"viewport":{"topLeftPoint":{"lat":19.98628,"lon":-155.23453},"btmRightPoint":{"lat":19.98281,"lon":-155.23084}},"entryPoints":[{"type":"main","position":{"lat":19.98423,"lon":-155.23285}},{"type":"main","position":{"lat":19.98481,"lon":-155.23451}}]},{"type":"POI","id":"M0_0HQXC9JePhaJZ9JgeUQ","score":2.1454496384,"dist":1274081.293613,"info":"search:ta:840159000655474-US","poi":{"name":"Bank
        of Hawaii ATM","phone":"+1 888-643-3888","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetName":"Kekuanao''a Street","municipality":"Hilo","countrySecondarySubdivision":"Hawai''i","countrySubdivision":"HI","countrySubdivisionName":"Hawai''i","countrySubdivisionCode":"HI","postalCode":"96720","extendedPostalCode":"96720-7515","countryCode":"US","country":"United
        St[...]
